services:
  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: unless-stopped
    ports:
      - "3001:8000"
    environment:
      - DATABASE_PATH=/app/data/resume.db
      - CEREBRAS_API_KEY=${CEREBRAS_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    volumes:
      - ./frontend:/app/frontend
      - sqlite-data:/app/data

volumes:
  sqlite-data:
